.html {
    font-size: 125%;
    box-sizing: border-box;
    background-color: #e6e2d3;
}

.wrapper {
    /* background-color: cornflowerblue; */
    max-width: 1080px;
    width: 95%;
    margin: 0 auto;
}

h1, h2, p {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

/******************* Header start *******************/
h1 {
    font-size: 2.5rem;
    text-align: center;
    padding: 5% 0;
    color: #b9936c;
}
/******************* Header end *******************/

/******************* main start *******************/

.gameBoardContainer {
    display: flex;
    justify-content: center;
    position: relative;
}

.gameBoard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 300px;
    padding: 5%;
    font-family: 'Acme', sans-serif;
}

.space {
    background-color: #c4b7a6;
    color: whitesmoke;
    font-size: 3rem;
    width: 90px;
    height: 90px;
    margin: 1%;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.space:hover,
.space:focus {
    transform: scale(1.05);
}

.gameOver {
    color: rebeccapurple;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    background-color: #e6e2d3;
    color: #b9936c;
    border: 2px solid #b9936c;
    border-radius: 12px;
    padding: 10px 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

button:hover,
button:focus {
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    transform: scale(1.05);
    cursor: pointer;
}
/******************* main end *******************/


/******************* responsive design start *******************/